body
{

}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;	
	border: 1px solid #555555;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;        
}

#header
{
	margin: 0;
	padding: 0;
        /*background:#CBD7E8;*/
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;   
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #555555;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	/* background:white url(bg.gif) repeat-x left top; */
        color: #555555;
        border-bottom: 1px solid #555555;
        margin: 10px 20px;
        text-align: left;
}

#mainmenu ul
{
	padding:5px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#555555;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 5px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
	padding: 3px 8px;
	background: #CBD7E8;
	border-left: 5px solid #CBD7E8;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #555555;
}

.portlet-content
{
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;    
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;    
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;  
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}


/* Style do normal page 
.universalContent { width: 100%; }

.layout_1 { width: 100%; }
.universalContent .layout_1 .layout_1_center { width: 100%; float:left; }

.layout_2 { width: 100%; }
.universalContent .layout_2 .layout_2_left { width: 50%; float:left; }
.universalContent .layout_2 .layout_2_right { width: 50%; float:left; }

.layout_3 { width: 100%; }
.universalContent .layout_3 .layout_3_left { width: 33%; float:left; }
.universalContent .layout_3 .layout_3_center { width: 33%; float:left; }
.universalContent .layout_3 .layout_3_right { width: 33%; float:left; }

.layout_4 { width: 100%; }
.universalContent .layout_4 .layout_4_left { width: 60%; float:left; }
.universalContent .layout_4 .layout_4_right { width: 40%; float:left; }

.layout_5 { width: 100%; }
.universalContent .layout_5 .layout_5_left { width: 40%; float:left; }
.universalContent .layout_5 .layout_5_right { width: 60%; float:left; }

.layout_6 { width: 100%; }
.universalContent .layout_6 .layout_6_left { width: 25%; float:left; }
.universalContent .layout_6 .layout_6_center { width: 50%; float:left; }
.universalContent .layout_6 .layout_6_right { width: 25%; float:left; }
*/
/* */

